<div class="user-details">
  <h1>Contact Us</h1>
  <p>Interested in our association or events? Reach out to us!</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Email</h2>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <p><a href="mailto:{{site.email}}" class="email-link">{{site.email}}</a></p>
  </div>
  <div class="tech">
    <h2>Meetings</h2>
    <i class="fa fa-calendar" aria-hidden="true"></i>
    <p>Contact us for more information on our meetings and events!</p>
  </div>
  <div class="tech">
    <h2>Membership</h2>
    <i class="fa fa-users" aria-hidden="true"></i>
    <p>Membership is open to all Harvard students, faculty, alumni and staff interested in Polish culture.</p>
  </div>
</div>
<!-- <div class="join-us">
  <h3>Subscribe to our Newsletter</h3>
  <p>Stay updated on our events, activities, and announcements.</p>
  <form id="newsletter-form">
    <input type="email" placeholder="Your Email" required>
    <button type="submit">Subscribe</button>
  </form>
</div>  -->