<div class="user-details">
  <h1>Events & Activities</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Polish flag" src="{{ "/assets/img/polish_flag.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Cultural and Social Events</h3>
    <ul>
      <li>Food tasting sessions</li>
      <li>Movie screenings</li>
      <li>Seasonal celebrations</li>
    </ul>
    <p>Join us for cultural celebrations throughout the academic year featuring authentic Polish food, music, and customs. Our social events help build community among Polish students and scholars at Harvard, providing opportunities to make connections and build friendships.</p>
    <a class="project-link" href="#contact">Join Us</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Harvard GSAS" src="{{ "/assets/img/Harvard-gsas.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Academic Events</h3>
    <ul>
      <li>Guest lectures</li>
      <li>Networking events</li>
      <li>Research presentations</li>
    </ul>
    <p>We organize talks and networking events featuring scholars and professionals, creating opportunities for intellectual exchange and professional development.</p>
    <a class="project-link" href="#contact">Learn More</a>
  </div>
</div>
