<div class="user-details">
  <h1>Events & Activities</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Cultural celebration" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Cultural Events</h3>
    <ul>
      <li>National Independence Day</li>
      <li>Traditional celebrations</li>
      <li>Cultural exchanges</li>
    </ul>
    <p>Join us for cultural celebrations and events throughout the academic year. We host events featuring authentic Polish food, music, and customs to share our heritage with the Harvard community.</p>
    <a class="project-link" href="#contact">Learn More</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Academic discussions" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Academic Events</h3>
    <ul>
      <li>Guest lectures</li>
      <li>Networking events</li>
      <li>Research presentations</li>
    </ul>
    <p>We organize talks and networking events featuring Polish scholars and professionals. These events create opportunities for intellectual exchange and professional development.</p>
    <a class="project-link" href="#contact">Learn More</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Social gatherings" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Social Gatherings</h3>
    <ul>
      <li>Welcome picnics</li>
      <li>Movie nights</li>
      <li>Group outings in Boston</li>
    </ul>
    <p>Our social events help build community among Polish students and scholars at Harvard. From casual gatherings to organized outings around Boston, these activities provide opportunities to make connections and build friendships.</p>
    <a class="project-link" href="#contact">Get Involved</a>
  </div>
</div>
